<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div th:fragment="header">
    <div class="top-nav">
        <a th:href="@{/home}">Home</a>
        <div sec:authorize="hasAnyAuthority('ADMIN, EDITOR')">
            <a th:href="@{/editor}">Tartalomszerkesztők</a>
        </div>
        <div sec:authorize="hasAnyAuthority('ADMIN, USER')">
            <a th:href="@{/user}">Felhasználók</a>
        </div>
        <form th:action="@{/logout}" method="get">
            <button class="btn btn-danger" type="Submit">Logout</button>
        </form>
    </div>
</div>
</body>

</html>