<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <div class="center-box">
        <div sec:authorize="isAuthenticated()">
            <div class="main-content">
                <h2>Belépési adatok</h2>
                <br>
                <h3>Felhasznaló:</h3>
                <span th:utext="${username}"></span>
                <br>
                <h3>Utolsó sikeres bejelentkezés:</h3>
                <span th:utext="${lastLogin}"></span>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>

</html>